*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.logo-container{
    font-size: x-small;
    color: #fd6742;
    padding: auto 20px;
}
.logo-container a:visited{
    font-size: x-small;
    color: #fd6742;
}
.nav-links{
    display: flex;
    justify-content: center;
}
.nav-items{
    font-size: 16px;
    font-weight: bold;
    color: #828888;
    padding-left : 40px;
    cursor: pointer;
}


.login-btn{
    background-color:#f6f7f7;
    font-size: 16px;
    font-weight: bold;
    padding:12px 35px;
    color: #0cb969;
}


main{
	display: flex;
	align-items: center;
	justify-content: space-around;	
}




.dropdown{
    margin-left : 70px;
}
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px; 
    z-index: 1;
  }
  
  .dropdown-content a {
    font-size: 16px;
    font-weight: bold;
    color: #828888;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color: #fd6742;}
  
  .dropdown:hover .dropdown-content {display: block;}





.welcome-div{
    margin-top: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
main .welcome-div h1{
    font-size: 45px;
    color: #fd6742;

}

main .welcome-div p{
    font-size: 22px;
    padding-top: 40px;  
    color: #676d6d;
}

main .welcome-div a{
    max-width: fit-content;
    margin-top: 40px;
    background-color:#0cb969;
    font-size: 16px;
    font-weight: bold;
    padding:12px 35px;
    color: white;
}






@media only screen and (max-width: 800px) {
    header{
        flex-direction: column;
    }
    header .nav-links{
        flex-direction: column;

    }
  }

















